/*.container {
  background-color: black;
}*/
.body {
  background-color: #bfb5b8;
}

.yoga-title{
  color: red;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Caveat Brush', monospace;
  text-align: center;
  font-style: italic;
}


.search-bar{
  margin: 20px;
  text-align: left;
}

.search-bar input {
  width: 70%;
    border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
}

.list-group-item{
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 15px;

}

.list-group-item:hover{
  background-color: #bfa0a9;
  text-decoration: underline;

}
